{% extends "base.html" %}
{% load static %}
{% load placeholder %}

{% block main_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form -->
            <form action="{% url 'register_user' %}" method="post">
                <p>
                    {{ form.email|placeholder:'Email' }}
                </p>
                <p>
                    {{ form.password1|placeholder:'Password' }}
                </p>
                <p>
                    {{ form.password2|placeholder:'Confirm Password' }}
                </p>
                <!-- Register Button -->
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'signin_user' %}">Log in</a></p>
        </div>
    </div>

{% endblock %}
