{% extends "base.html" %}
{% load static %}

{% block main_content %}

    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <!-- Start Add Photo Form -->
        <form action="{% url 'add_photo' %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            <!-- Add Photo Button -->
            <button class="add-btn" type="submit">Add Photo</button>

            {% csrf_token %}
        </form>
        <!-- End Add Photo Form -->
    </div>

{% endblock %}